*{
    margin:0;
    padding:0;
    box-sizing: border-box;
  }
.contactUs{
    position:fixed;
    top:50px;
    right:5px;
    border:none;
    background-color:transparent;
}
  .form{
      position:fixed;
      top:200px;
      left:10%;
      width:80%;
      height:400px;
      border:solid;
      border-radius:10px;
      display:flex;
      flex-direction:column;
      justify-content:space-around;
      align-items:stretch;
      padding:10px;

  }
.input{
    display:flex;
    flex-direction:column;

}
.botones{
    display:flex;
    flex-direction:column;
}
label{
   
    border:none;
}
input{
    
}
.cruz{
    position:absolute;
    top:5px;
    right:5px;
    border:none;
}

textarea{
    height:120px;
}